<launch>

  <node pkg="robot_path_planning" name="walk" type="algorithm"/>
  <node pkg="robot_path_planning" name="QLearning" type="agent"
    args="--agent qlearner --filename ~/catkin_ws/src/robot_path_planning/policies/qlearningpolicy"/>
  <node pkg="robot_path_planning" name="CorridorEnv" type="env"
    args="--env corridor"/>
  
 
 
</launch>
